In [2]:
import pandas as pd
import numpy as np

In [4]:
# Creating 4 series

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

print(s1,s2,s3,s4)

0    0.493527
1    0.638090
2    0.797054
3    0.444160
dtype: float64 0    0.146343
1    0.332830
2    0.884387
3    0.074025
dtype: float64 0    0.952988
1    0.219668
2    0.688030
3    0.401431
dtype: float64 0    0.782787
1    0.478068
2    0.145247
3    0.581408
dtype: float64

In [6]:
# TASK 1: Creating dataframe with the series

df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.493527  0.638090  0.797054  0.444160
1  0.146343  0.332830  0.884387  0.074025
2  0.952988  0.219668  0.688030  0.401431
3  0.782787  0.478068  0.145247  0.581408

In [7]:
# TASK 2: Changing the column name

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.493527        0.638090        0.797054        0.444160
1        0.146343        0.332830        0.884387        0.074025
2        0.952988        0.219668        0.688030        0.401431
3        0.782787        0.478068        0.145247        0.581408

In [8]:
# TASK 3: Find the descriptive statistics of the 'df' dataframe

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.593911        0.417164        0.628680        0.375256
std          0.353556        0.181323        0.332147        0.214997
min          0.146343        0.219668        0.145247        0.074025
25%          0.406731        0.304540        0.552335        0.319580
50%          0.638157        0.405449        0.742542        0.422796
75%          0.825338        0.518073        0.818887        0.478472
max          0.952988        0.638090        0.884387        0.581408

In [12]:
#TASK 4: Check for the null values in 'df' and find the data type of the columns

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [13]:
# Check for the sum of null values in 'df'
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [14]:
# Checking the datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [15]:
#TASK 5: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

# location method
df.loc[0:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.638090        0.797054
1        0.332830        0.884387
2        0.219668        0.688030
3        0.478068        0.145247

In [17]:
# index location method
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.638090        0.797054
1        0.332830        0.884387
2        0.219668        0.688030
3        0.478068        0.145247