SmartBridge Artificial Intelligence Assignment-1

TASK 1 and TASK 2

In [1]:
import numpy as np
import pandas as pd

data= np.random.randn(4,4)
df=pd.DataFrame(data,columns=['Random value 1','Random value 2','Random value 3','Random value 4'])
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        1.024889       -1.428502       -0.034438       -1.276055
1        0.506806        0.433234       -1.040387        1.173846
2       -1.390372       -0.507066       -1.332723       -1.117362
3       -0.409671        0.801312        0.355463        0.744762

TASK 3

In [3]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.067087       -0.175255       -0.513021       -0.118702
std          1.063048        1.000778        0.802773        1.258708
min         -1.390372       -1.428502       -1.332723       -1.276055
25%         -0.654846       -0.737425       -1.113471       -1.157036
50%          0.048568       -0.036916       -0.537413       -0.186300
75%          0.636327        0.525253        0.063037        0.852033
max          1.024889        0.801312        0.355463        1.173846

TASK 4

In [4]:
#check for datatypes
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [9]:
#check for null values
print(df.isnull().sum())

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

TASK 5

In [10]:
#index location method
print(df.iloc[:,1:3])

   Random value 2  Random value 3
0       -1.428502       -0.034438
1        0.433234       -1.040387
2       -0.507066       -1.332723
3        0.801312        0.355463

In [11]:
#location method
indices=[i for i in range(0,len(df))]
cols=['Random value 2','Random value 3']
print(df.loc[indices,cols])

   Random value 2  Random value 3
0       -1.428502       -0.034438
1        0.433234       -1.040387
2       -0.507066       -1.332723
3        0.801312        0.355463